
$background: var(--color-gray-800);
$border: var(--color-yellow-400);
.box {
    position: relative;
    background-color: $background;
    padding: 5px;
    border: 2px solid $border;

    &:before,
    &:after { 
        content: '¤';
        position: absolute;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: $border;
        border: 2px solid $border;
        line-height: 12px;
        top: 5px;
        text-align: center;
    }

    &:before {
        left: 5px;
    }

    &:after {
        right: 5px;
    }

    .box-inner {
        position: relative;
        height: 100%;
        border: 2px solid $border;
        padding: 16px 32px;

        &:before,
        &:after {
            content: '¤';
            position: absolute;
            width: 20px;
            height: 20px;
            font-size: 20px;
            color: $border;
            border: 2px solid $border;
            line-height: 12px;
            bottom: -2px;
            text-align: center;
        }

        &:before {
            left: -2px;
        }

        &:after {
            right: -2px;
        }
    }
}